
    <div class="tables">
        <card class="table-1">
            <h3>{{ battles.name[0] }}</h3>
            <br>
            <h4>Number of Deaths: {{ battles[].deaths[] }}</h4>
            <h5>{{ battles.description[0] }}</h55>
            <h5>{{ battles.relevancy[0] }}</h5>
        </card>
          <card class="table-2">
            <h3>{{ battles.name[1] }}</h3>
            <br>
            <h4>Number of Deaths: {{ battles[1].deaths[1] }}</h4>
            <h5>{{ battles.description[1] }}</h5>
            <h5>{{ battles.relevancy[1] }}</h5>
        </card>
          <card class="table-3">
           <h3>{{ battles.name[2] }}</h3>
            <br>
            <h4>Number of Deaths: {{ battles[2].deaths[2] }}</h4>
            <h5>{{ battles.description[2] }}</h5>
            <h5>{{ battles.relevancy[2] }}</h5>
        </card>
    </div>