
    <div class="tables">
        <card class="table-1">
            <h3>{{ disease.name[0] }}</h3>
            <br>
            <h4>Number of Deaths: {{ disease[0].deaths[0] }}</h4>
            <h5>{{ disease.description[0] }}</h5>
            <h5>{{ disease.relevancy[0] }}</h5>
        </card>
          <card class="table-2">
            <h3>{{ disease.disease.name[1] }}</h3>
            <br>
            <h4>Number of Deaths: {{ battles[1].deaths[1] }}</h4>
            <h5>{{ disease.description[1] }}</h5>
            <h5>{{ disease.relevancy[1] }}</h5>
        </card>
          <card class="table-3">
           <h3>{{ disease.name[2] }}</h3>
            <br>
            <h4>Number of Deaths: {{ battles[2].deaths[2] }}</h4>
            <h5>{{ disease.description[2] }}</h5>
            <h5>{{ disease.relevancy[2] }}</h5>
        </card>
    </div>