
    <div class="tables">
        <card class="table-1">
            <h3>{{ lasting_effects.name[0] }}</h3>
            <br>
            <h4>Number of Deaths: {{ lasting_effects[0].deaths[0] }}</h4>
            <h5>{{ lasting_effectsdescription[0] }}</h5>
            <h5>{{ lasting_effects.relevancy[0] }}</h5>
        </card>
          <card class="table-2">
            <h3>{{ lasting_effects.name[1] }}</h3>
            <br>
            <h4>Number of Deaths: {{ lasting_effects[1].deaths[1] }}</h4>
            <h5>{{ lasting_effects.description[1] }}</h5>
            <h5>{{ relevancy[1] }}</h5>
        </card>
          <card class="table-3">
           <h3>{{ lasting_effects.name[1] }}</h3>
            <br>
            <h4>Number of Deaths: {{ lasting_effects[2].deaths[2] }}</h4>
            <h5>{{ lasting_effects.description[2] }}</h5>
            <h5>{{ lasting_effects.relevancy[2] }}</h5>
        </card>
    </div>